<router-outlet></router-outlet>
<div class="container">
<h3>Select the card below to start your day-to-day task from below activities.</h3>
<div class="row rtxt2">
    <div class="card" routerLink="/gratitude">
      <div class="image">
          <img src="../../../assets/images/Gratitude.jpg" alt="gratitude image">
      </div>
      <!-- <div class="title">
          <h1>Gratitude</h1>
      </div>   -->
    </div>
    <div class="card">
        <div class="image" routerLink="/happiness">
            <img src="../../../assets/images/happiness.jpg" alt="happiness image">
        </div>
        <!-- <div class="title">
            <h1>Happiness</h1>
        </div>   -->
      </div>
      <div class="card">
        <div class="image" routerLink="/productivity">
            <img src="../../../assets/images/productivity.jpg" alt="productivity image">
        </div>
        <!-- <div class="title">
            <h1>productivity</h1>
        </div>   -->
      </div>
      <div class="card">
        <div class="image" routerLink="/sleep">
            <img src="../../../assets/images/sleep.jpg" alt="sleep image">
        </div>
        <!-- <div class="title">
            <h1>sleep</h1>
        </div>   -->
      </div>
</div>
<div class="row rtxt2">
    <div class="card">
      <div class="image" routerLink="/workout">
          <img src="../../../assets/images/workout.jpg" alt="workout image">
      </div>
      <!-- <div class="title">
          <h1>Gratitude</h1>
      </div>   -->
    </div>
    <div class="card">
        <div class="image" routerLink="/study">
            <img src="../../../assets/images/study.jpg" alt="study image">
        </div>
        <!-- <div class="title">
            <h1>Happiness</h1>
        </div>   -->
      </div>
      <div class="card">
        <div class="image" routerLink="/social">
            <img src="../../../assets/images/social.jpg" alt="social image">
        </div>
        <!-- <div class="title">
            <h1>productivity</h1>
        </div>   -->
      </div>
      <div class="card" routerLink="/declutter">
        <div class="image">
            <img src="../../../assets/images/declutter.jpg" alt="declutter image">
        </div>
        <!-- <div class="title">
            <h1>sleep</h1>
        </div>   -->
      </div>
 </div>
</div>


<app-footer></app-footer>
