<div class="wrapper">
    <div class="top_navbar">
      <!-- <div class="hamburger">
         <div class="one"></div>
         <div class="two"></div>
         <div class="three"></div>
      </div> -->
      <div class="top_menu">
        <div class="logo">21 Days Challenge</div>
        <ul>
          <li><a routerLinkActive="list-item-active" routerLink="/home/display">
            <i class="fa fa-home fa-2x"></i></a></li>
          <li><a routerLinkActive="list-item-active" routerLink="/contact">
            <i class="fa fa-address-book" style="font-size:22px;"></i>
            </a></li>
            <li><a routerLinkActive="list-item-active" routerLink="/credits">
              <i class="fa fa-copyright" style="font-size:25px;"></i>
                </a></li>
          <li><a routerLinkActive="list-item-active" routerLink="">
            <i class="fa fa-sign-out" style="font-size:25px;"></i>
            </a></li>
        </ul>
      </div>
    </div>
